@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.note-card {
    width: 800px;
    margin: 100px auto 0 auto;
}

ul {
    li {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 800px) {
    .note-card {
        width: 500px;
        margin: 50px auto 0 auto; 
    }
}
